/* css general header */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}


body {
    background-color: rgb(236, 236, 236);
}


.fuentetipo{
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 3rem 1rem 3rem 1rem;
    color: rgb(151, 167, 151);
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 3rem 1rem 3rem 1rem;
    color: rgb(151, 167, 151);
}

h3 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 0;
    color: rgb(151, 167, 151);
    line-height: 4rem;
    margin: 4rem 4rem 4rem 8rem;

}


h5 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0;
    color:rgb(151, 167, 151);
    line-height: 4rem;
    margin: 2rem 1rem -2rem 8rem;

}


h6 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    color: rgb(0, 0, 0);
    line-height: 4rem;
    margin: -1rem 1rem -2.5rem 8rem;

}



/* Header */
.header{
    display: flexbox;
    flex-direction: row;
    float: right;
    position: relative;
    margin: 10 auto;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    line-height: 0.3rem;
    text-decoration: none;
}

/* Home */

.title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 6rem;
    padding: 0;
    margin-top: 5%;
    color: rgb(75, 86, 75);
}

.textintro{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    padding: 0;
    margin-top: 2%;
    color: rgb(75, 86, 75);
}

/* Home - Video */

.sec-video {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5%;
    background-image: url(../recopilación-de-datos/backgrundinicio_Mesa\ de\ trabajo\ 1\ copia\ 2.png);
    padding: 10%;
    background-repeat: no-repeat;
}


/* Home - Servicios */

.contenedor-icono{
    color: rgb(75, 86, 75);
    display: flexbox;
    }

.icono-diseño{
    display: flexbox;
    align-items: flex-start;
}

.icono-fotografía{
    display: flexbox;
    align-content: center;
}

.icono-ilustración{
    display: flexbox;
    align-items: flex-start;
}

.verProyectosButton{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.buttonProyectos{
    color:aliceblue;
    padding: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 5%;
    background-color: rgb(130, 142, 130);
    border: 0;
    }.verProyectosButton{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
    .buttonProyectos{
        color:aliceblue;
        padding: 1rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        font-size: 1rem;
        padding: 1rem;
        margin-top: 5%;
        background-color: rgb(130, 142, 130);
        border: 0;
        }



/* Page - Proyectos */

img{
    border:none !important;
}


/* Page - Contacto */

/*Contacto*/

.TextoContacto{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    color: rgb(0, 0, 0);
    line-height: 4rem;
    margin: 0.5rem 1rem 1rem 8rem;  
}

.ColorIconosRedes{
    text-decoration: none;
    color: rgb(130, 142, 130);
    padding: 2rem;
}

.caja{
    border: 4px solid black;
    background-color: blueviolet;
    text-align: center;
    line-height: 150px;
    }

.grid-layout{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
   justify-content: stretch;
   padding: 20px;
    
}

.c1{
    grid-column: 1/3;
}

.c2{
    grid-row: 1;
    grid-row: 2;
}

.c2{
    grid-row: 2;
    grid-row: 2;
}

.c3{
    grid-row: 3;
    grid-row: 2;
}





/*Contacto - Formulario*/

#form {
    position: sticky;
    width: 30rem;
    margin: 3rem 1rem 5.5rem 8rem;
  }
  
  input {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: rgb(75, 86, 75);
    
    border: solid 1px rgb(130, 142, 130) ;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: rgb(130, 142, 130);
    color:rgb(236, 236, 236);

  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: rgb(75, 86, 75);
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px rgb(75, 86, 75);
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: rgb(130, 142, 130);
    color: rgb(236, 236, 236);
  }
  
  #submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color:  rgb(75, 86, 75);
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px rgb(130, 142, 130);
    border-top: none;
  }
  
  #submit:hover {
    color: rgb(130, 142, 130);
  }






/*Footer */


footer .footer-right p {
    margin: 0 0.8rem;
    color: white;
    font-family: 'Poppins', sans-serif;

}



