/*# Incluyendo Maps */

$button: (
    color:g-fondoclaro,
    padding: 1rem,
    text-align: center,
    font-family: 'Poppins', 
    font-weight: rgb(130, 142, 130),
    font-size: 1rem,
    margin-top: 5%,
    background-color: $bg-verdeclaro,
    border: 0,
);


$header: (
    display:flexbox,
    flex-direction: row,
    float: right,
    position: relative,
    margin: 10 auto,
    font-size: small,
    line-height: 0.3rem,
    text-decoration: none,
);





   
